##1. Write a Python program to print "Hello, World!_

In [ ]:
print('Hello world' )

Hello world

##2. Write a Python program that displays your name and age.

In [ ]:
name = 'naitik mandani'
age = 25
print(f'my name is {name} and my age is {age}')

my name is naitik mandani and my age is 25

##3. Write code to print all the pre-defined keywords in Python using the keyword library.

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

##4.Write a program that checks if a given word is a Python keyword.

In [ ]:
import keyword
word = input('Enter a word')
if keyword.iskeyword(word):
  print(f"{word} is a python keyword.")
else:
  print(f"{word} is not a python keyword")

Enter a word print
 print is not a python keyword

## 5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

In [ ]:
lis = [1, 2, 3]
tup = (1, 2, 30)

#for list
lis[1] = 600
print(lis)

#for tuple
try:
  tup[2] = 25
except TypeError as e:
  print("Error:", e)

[1, 600, 3]
Error: 'tuple' object does not support item assignment

##6.Write a function to demonstrate the behavior of mutable and immutable arguments0

In [ ]:
def modify_list(lst):
    lst.append(4)

def modify_string(s):
    s += "world"

my_list = [1, 2, 3]
my_string = "hello"

modify_list(my_list)
print("Modified list:", my_list)

modify_string(my_string)
print("String after function call:", my_string)

Modified list: [1, 2, 3, 4]
String after function call: hello

Question 6 & 7 are same

### 8. Write a program to demonstrate the use of logical operators.

In [ ]:
x = True
y = False

x = True
y = False

print("x and y:", x and y)
print("x or y:", x or y)
print("not x:", not x)

x and y: False
x or y: True
not x: False

##9. Write a Python program to convert user input from string to integer, float, and boolean types.

In [ ]:
user_input = input("enter a number:")

int_val = int(user_input)
float_val = float(user_input)
bool_val = bool(user_input)

print("Integer:", int_val)
print("float:", float_val)
print("boolean:", bool_val)

enter a number:5
Integer: 5
float: 5.0
boolean: True

##10.Write code to demonstrate type casting with list elements0

In [ ]:
str_list = ["1", "2", "3", ]
int_list = list(map(int, str_list))
print("List of integer:", int_list)

List of integer: [1, 2, 3]

##11.Write a program that checks if a number is positive, negative, or zero.

In [ ]:
a= 0

if a>0:
  print("positive")
elif a < 0:
  print("negative")
else:
  print("zero")

zero

##12.Write a for loop to print numbers from 1 to 100.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

##13.Write a Python program to find the sum of all even numbers between 1 and 50.

In [ ]:
sum=0
for i in range(1, 51):
  if i % 2 == 0:
    sum=sum+i
print(sum)

650

##14 Write a program to reverse a string using a while loop.

In [ ]:
a = "naitik"
for i in range(len(a)-1,-1,-1):
  print(a[i])

k
i
t
i
a
n

##15.Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
# Get input from the user
num = int(input("Enter a number to calculate its factorial: "))

# Initialize variables
factorial = 1
i = 1

# Calculate factorial using a while loop
while i <= num:
    factorial *= i
    i += 1

print(f"The factorial of {num} is: {factorial}")

Enter a number to calculate its factorial: 4
The factorial of 4 is: 24